<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/static/css/global.css}" />
	<link rel="stylesheet" th:href="@{/static/css/letter.css}" />
	<title>牛客网-私信详情</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<div th:replace="~{site/common::header}"></div>

		<!-- 定义变量 -->
		<th:block th:each="conversation:${page.records}"
				  th:with="fromUser=${currentUser.id != conversation.user1Id ? conversation.user1 : conversation.user2},
				  toUser=${currentUser.id == conversation.user1Id ? conversation.user1 : conversation.user2}">
		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-8">
						<h6><b class="square"></b> 来自 <i class="text-success" th:text="${fromUser.username}">落基山脉下的闲人</i> 的私信</h6>
					</div>
					<div class="col-4 text-right">
						<button type="button" class="btn btn-secondary btn-sm" onclick="location.href='letter.html';">返回</button>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#sendModal">给TA私信</button>
					</div>
				</div>
				<!-- 弹出框 -->
				<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">发私信</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="recipient-name" class="col-form-label">发给：</label>
										<input type="text" class="form-control" id="recipient-name" value="落基山脉下的闲人">
									</div>
									<div class="form-group">
										<label for="message-text" class="col-form-label">内容：</label>
										<textarea class="form-control" id="message-text" rows="10"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" id="sendBtn">发送</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 提示框 -->
				<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="hintModalLabel">提示</h5>
							</div>
							<div class="modal-body" id="hintBody">
								发送完毕!
							</div>
						</div>
					</div>
				</div>						
				
				<!-- 私信列表 -->
				<ul class="list-unstyled mt-4">
					<li class="media pb-3 pt-3 ml-5 pl-5 mb-2" th:each="letter:${conversation.messageList}">
						<th:block th:with="isFrom=${letter.fromId == fromUser.id ? true : false}">
						<a href="profile.html" th:if="${isFrom == true}">
							<img th:src="@{|${fromUser.headerUrl}|}" class="mr-4 rounded-circle user-header" alt="用户头像" >
						</a>
						<div class="toast show d-lg-block" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="mr-auto" th:text="${isFrom == true ? fromUser.username : toUser.username}">落基山脉下的闲人</strong>
								<small th:text="${letter.createTime}">2019-04-25 15:49:32</small>
								<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="toast-body" th:text="${letter.content}">
								君不见, 黄河之水天上来, 奔流到海不复回!
							</div>
						</div>
						<a href="profile.html" th:if="${isFrom == false}">
							<img th:src="@{|${toUser.headerUrl}|}" class="ml-4 rounded-circle user-header" alt="用户头像" >
						</a>
						</th:block>
					</li>
				</ul>
				<!-- 分页 -->
				<nav class="mt-5">
					<ul class="pagination justify-content-center">
						<li class="page-item"><a class="page-link" th:href="@{|/message/letter/list/${conversation.id}/1|}">首页</a></li>
						<li th:class="|page-item ${page.currentPage > 1 ? '' : 'disabled'}|"><a class="page-link" th:href="@{|/message/letter/list/${conversation.id}/${page.currentPage-1}|}">上一页</a></li>
						<li th:class="|page-item ${page.currentPage == index ? 'active' : ''}|" th:each="index:${#numbers.sequence(page.from,page.to)}">
							<a class="page-link" th:href="@{|/message/letter/list/${conversation.id}/${index}|}" th:text="${index}">1</a>
						</li>
						<li th:class="|page-item ${page.currentPage < page.total ? '' : 'disabled'}|"><a class="page-link" th:href="@{|/message/letter/list/${conversation.id}/${page.currentPage+1}|}">下一页</a></li>
						<li class="page-item"><a class="page-link" th:href="@{|/message/letter/list/${conversation.id}/${page.total}|}">末页</a></li>
					</ul>
				</nav>
			</div>
		</div>
		</th:block>

		<!-- 尾部 -->
		<div th:replace="~{site/common::footer}"></div>
	</div>

	<div th:replace="~{site/common::script}"></div>
	<script th:src="@{/static/js/letter.js}"></script>
</body>
</html>
