<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyForum.mapper.LikeRecordMapper">
    <insert id="addLikeRecord">
        insert into like_record
        values(null,#{entityId},#{userId},#{type})
    </insert>
</mapper>